<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whowantstobeamillionaire"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.whowantstobeamillionaire.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.whowantstobeamillionaire.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.whowantstobeamillionaire.CreditsActivity"
            android:label="@string/title_activity_credits" >
        </activity>
        <activity
            android:name="com.example.whowantstobeamillionaire.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.example.whowantstobeamillionaire.ScoresActivity"
            android:label="@string/title_activity_scores" >
        </activity>
        <activity
            android:name="com.example.whowantstobeamillionaire.ScoresTab1Activity"
            android:label="@string/title_activity_scores_tab1" >
        </activity>
        <activity
            android:name="com.example.whowantstobeamillionaire.ScoresTab2Activity"
            android:label="@string/title_activity_scores_tab2" >
        </activity>
        <activity
            android:name="com.example.whowantstobeamillionaire.PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name="com.example.whowantstobeamillionaire.EndActivity"
            android:label="@string/title_activity_end" >
        </activity>
    </application>

</manifest>
